footer.footer
    //.container
    //    .logo
    //        img(src="/images/logo.png")
    .footer-about
        i.glyphicon.glyphicon-phone-alt &nbsp;
        span 联系电话
        span.telephone 18650320029
