link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/libs/basic-atomui/css/atom.css",rel="stylesheet")
link(href="/libs/uibox/css/box.css",rel="stylesheet")
link(href="/style/quill.snow.css",rel="stylesheet")
link(href="/libs/cropbox/cropbox.css",rel="stylesheet")
link(href="/libs/swiper/dist/css/swiper.min.css",rel="stylesheet")
link(href="/style/site.css",rel="stylesheet")
link(href="/style/chat.css",rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/jquery-form/jquery.form.js")
script(src="/libs/basic-atomui/js/ui.js")
script(src="/libs/uibox/box.js")
script(src="/js/quill.min.js")
script(src="/libs/swiper/dist/js/swiper.min.js")
script(src="/js/socket.io-1.4.5.js")
script(src="/js/admin.js")