doctype
html
    head
        meta(charset="utf-8")
        title 美思 #{title}
        include ./includes/head
    body
        include ./includes/header
        block content
        if USER
            include ./includes/chat
        include ./includes/footer